# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variables files
*.tfvars

#ignore CLI config files
.terraformrc
terraform.rc

# ignore MacOs system file
.DB_Store

# ignore crash.log
crag.log
